*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
    margin: 0;
    
}

body {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mini-container {
    display: flex;
    gap: 8px;
}

.timer {
    display: flex;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 24px;
}