*,
*::before,
*::after {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delay-label{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  
}


.delay-input {
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
}

.form-fieldset {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
}

.label-form {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
}

.btn-submit {
  margin-top: 24px;
}